<h1>Salut! Veuillez confirmer votre adresse mail!</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ message }}">Confirmer mon adresse mail</a>.

</p>

<p>
    À bientôt!
</p>
