{% extends 'base.html.twig' %}

{% block title %}Confirmation de réception - Plant et Flower{% endblock %}

{% block body %}
<p>Vous avez bien reçu votre végétal, merci pour la confirmation de réception,
    nous allons pouvoir procéder au paiement du vendeur.</p>
{% endblock %}