<link rel="stylesheet" href="{{ asset('assets/emailLivraison.css') }}">

<h2>Voici ton etiquette de livraison, tu n'as plus qu'à l'imprimer, la coller sur ton colis et la déposer dans le point
    de relais le plus proche!</h2>
<p>Vous pouvez la téléchargée en cliquant directement sur le lien <a href="{{ message }}">ici</a></p>
<a href="{{ suivisColis }}">Cliquer ici pour suivre votre colis.</a>
<div class="emailMerci">
    <p>Merci pour votre confiance,</p>
    <p>L'équipe Plant & Flower. </p>
</div>
