/*home/annonces.html.twig*/

.container_imgsearchProducts {
    display: block;
}

.container-btn_create_annonce {
    display: flex;
    justify-content: start;
    margin: 50px;
}

.btn-create_annonce {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #48945D;
    background-color: #FFF56E;
    border-radius: 40px;
    box-shadow: 0 2px 2px #000;

}

/*annonce/annonce.html.twig*/

.container-return {
    margin: 15px;
}

.return {
    padding: 10px 50px;
    background-color: #c6ffd0;
    transition: background-color 0.2s;
    color: #48945d;
    box-shadow: 0 15px 10px -15px #111;
    font-size: 18px;
    border-radius: 25px;
    border: 2px solid #48945d;
    cursor: pointer;
}

.return:hover {
    background-color: #48945d;
    transition: background-color 0.2s;
    color: white;
}

.container-annonce {
    display: grid;
}

.container-annonce-img {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-auto-rows: auto;
    margin: 0 20px;
}

.container-big-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    overflow: hidden;
    height: auto;
    width: 100%;
}

.display-left, .display-right {
    padding: 16px;
    cursor: pointer;
    color: #48945D;
    background-color: #C6FFD0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px 2px grey;
    user-select: none;
}

.display-left:hover, .display-right:hover {
    background-color: #FFF56E;
}

.image-slide {
    overflow: hidden;
}

#grand-image {
    width: 80%;
    border-radius: 20px;
}

.columnImages {
    margin-left: 20px;
    width: 57%;
}

.columnImage {
    display: flex;
    flex-direction: column;
}

.mini-image {
    padding: 10px 0;
    border-radius: 15% 30%;
}

.bg-gray-global {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bg-gray-inactive {
    background: #f5f5f5;
    border-radius: 20px;
    margin: 5px 5px 0 5px;
    padding: 10px 10px;
}

.delivery_mod {
    display: flex;
    flex-direction: column;
}

.green {
    background-color: #c6ffd0;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px;
}

.green p {
    padding: 7px 17px;
}

.bg-gray-inactive h2 {
    font-size: 28px;
    font-weight: 500;
}

.bg-gray-inactive h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

.headInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    margin-bottom: 20px;
}

.container-all_btn_sold_editor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container-btn_sold_editor {
    margin: 10px 0;
}

.btn-sold_editor {
    background-color: #c6ffd0;
    transition: background-color 0.2s;
    border: 2px solid #48945d;
    color: #48945d;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-sold_editor:hover {
    background-color: #48945d;
    transition: background-color 0.2s;
    color: white;
}

#annonce-delete_btn {
    border: 2px solid #ff0000;
}

#annonce-delete_btn:hover {
    border: 2px solid #a40000;
    background-color: #a40000;
}

.star {
    width: 20px
}

.priceTotal {
    margin-top: 15%;
    font-weight: 600;
}

#annonce-confirm_delete {
    display: none;
    background-color: #c6ffd0;
    border: 2px solid #ff0000;
    border-radius: 10px;
}

#annonce-confirm_delete p {
    display: flex;
    justify-content: center;
    margin: 15px 0 20px;
}

.container-confirm_answer {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
}

.container-confirm_answer a {
    width: 100px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answer-delete_yes {
    background-color: red;
    transition: background-color 0.2s;
    cursor: pointer;
}

.answer-delete_yes:hover {
    background-color: #a40000;
    transition: background-color 0.2s;
}

.answer-delete_no {
    background-color: green;
    transition: background-color 0.2s;
    cursor: pointer;
}

.answer-delete_no:hover {
    background-color: #004b00;
    transition: background-color 0.2s;
}

.description {
    width: 100%;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: auto;
    align-items: center;
}

.description p {
    margin: 10px 0;
}

.absolute {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
}

.titre-description {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 5%;
}

#gray {
    grid-column: 2 / span 2;
    grid-row-start: 1;
}

.profileImage {
    width: 88px;
    height: 88px;
    border-radius: 9999px;
    background-color: gray;
    margin-right: 20px;
    overflow: hidden;
}

.textInfo {
    grid-column: 2 / span 2;
}

@media only screen and (max-width: 768px) {
    .container-big-img {
        grid-column: 1 / span 3;
        grid-row-start: 1;
        width: 95%;
        margin: 0 auto;
    }

    .return {
        display: none;
    }

    .bg-gray-global {
        grid-row-start: 3;
        grid-column: 1 /span 3;
        width: 95%;
        margin: 0 auto;
    }

    .mini-image {
        max-height: 120px;
        max-width: 33%;
        border-radius: 30px;
    }

    .columnImages {
        grid-column: 1 / span 3;
        grid-row-start: 2;
        max-height: 120px;
    }

    .titre-description {
        grid-column: 1 / span 3;
        grid-row-start: 1;
    }

    .textInfo {
        grid-column: 1 / span 3;
        margin: 0 auto;
    }

    .columnImage {
        display: flex;
        flex-direction: row;
    }
}

/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/


.lienEtiquette {
    color: #48945d;
}

.lienEtiquette:hover {
    color: #111;
    text-decoration: underline;
}

.mini-imag {
    width: 40%;
}

.image-item {
    cursor: pointer;
}

.bg-gray {
    background: #f5f5f5;
    /* width: 440px; */
    margin-left: 5px;
    display: flex;
    margin-top: 10px;
    overflow: hidden;
    border: 2px solid #48945d;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #48945d;
}

.bg-gray-active {
    background: #f5f5f5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 5px 5px 0 5px;
    padding: 10px 10px;
}

.bg-gray-active h1 {
    font-size: 36px;
    margin: 15px 0;
}

.bg-gray-active h2 {
    font-size: 28px;
    font-weight: 500;
    font-family: "ABeeZee", sans-serif;
}

.bg-gray-active h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

h2 {
    margin: 0;
}

#list-annonce {
    grid-column: 1 /span 3;
    grid-row-start: 2;
    margin-top: 50px;
    justify-self: center;
}

.dropdown-button {
    border: none;
    background: none;
}

.dropdown-button img {
    width: 20px
}

.inactive {
    display: none;
}

.img-annonce-list {
    width: 150px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-annonce-list {
    width: calc(100% - 150px - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

.description1 {
    display: none;
}



@media only screen and (max-width: 768px) {
    #gray {
        grid-column: 1 / span 3;
        grid-row-start: 2;
        margin: 0 auto;
        width: 95%;
    }
}

/*annonces.html.twig*/

.navigation {
    grid-area: navigation;
    grid-row-start: 6;
}

.containerGlobaleProducts {
    display: grid;
    grid-area: mainProducts;
    grid-template-columns: 1fr;
    grid-template-areas:
                "imgsearchProducts"
                "contenuProducts";
}

/*Formulaire de recherche*/

.search-formulaire {
    background: white;
    height: 80%;
    border-radius: 30px;
    box-shadow: 5px 10px 30px 5px grey;
    text-align: center;
    grid-area: searchForm;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
                "titre-search"
                "bouton-search";
    align-items: center;
}

#q {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
}

#categories {
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #48945D;
    height: 40px;
    width: 80%;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
    margin-left: 5px;
}

#min, #max {
    width: 80%;
    padding: 10px;
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.bouton-searchProducts > div:nth-last-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.bouton-searchProducts > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

.searchPrix > div {
    margin: 10px auto;
}

.searchPrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;

    width: 80%;
    justify-content: space-around;
}

.searchProducts {
    width: 60%;
    height: fit-content;
    margin: 35px auto;
    border-radius: 30px;
    box-shadow: 1px 5px 5px grey;
    border: 1px solid grey;
    text-align: center;
    grid-area: searchProducts;
    display: grid;
    padding: 10px;
    grid-row-end: 3;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
    grid-template-areas:
                "titre-searchProducts"
                "bouton-searchProducts";
    align-items: center;
}

.titre-search {
    grid-area: titre-search;
    margin: 5px;
}

.bouton-search {
    grid-area: bouton-search;
}

.titre-searchProducts {
    grid-area: titre-searchProducts;
}

.bouton-searchProducts {
    grid-area: bouton-searchProducts;
}

.contenu {
    grid-area: contenu;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contenuProducts {
    grid-area: contenuProducts;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.form-search {
    background-color: #FFFBC6;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 90%;
    border: none;
    outline: none;
    text-align: center;
    height: 40px;
}

.btn-search {
    background-color: #C6FFD0;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 90%;
    cursor: pointer;
    height: 40px;
}

.btn-searchProducts {
    background-color: #48945D;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 60%;
    cursor: pointer;
    height: 40px;
}

/*Fin formulaire de recherche*/

.image-annonce {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
}