/*annonces.html.twig*/
.containerGlobaleProducts h1 {
    color: #48945D;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
}

.imageCardAnnonces {
    margin-left: 1.5em;
    border-radius: 0.5em;
}

.card {
    background-color: #C6FFD0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px grey;
    width: 200px;
    height: 320px;
    margin: 15px;
}

.card-content {
    margin-left: 3%;
    width: 95%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a {
    text-decoration: none;
}

.prix {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    overflow: hidden;
    border-radius: 15px;
    width: 60%;
    background-color: white;
    color: green;
    margin-left: 35px;
    text-align: center;
    margin-top: 8px;
}

.etoile {
    float: right;
    font-family: 'AbeeZee', sans-serif;
    font-size: 1.25vw;
    transition: color .4s;
}

.etoile:hover {
    color: #FFF56E;
}

.card-content .align-etoile {
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.not-livraison {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    background-color: white;
    border-radius: 5px;
    padding: 2px 5px;
    align-items: center;
    margin-bottom: 10px;
    width: 80%;
}


.date-expiration {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-decoration: none;
}

/* Fin rubrique "Nos dernières annonces" */

/* Début rubrique "Comment ça fonctionne ?" */


/*.content-fonctionnement {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    height: 430px;*/
/*    background: no-repeat center/100% url("/public/media/img/background-yellow-green.png");*/

/*}*/


.total-annonce {
    width: 70%;
    margin-top: 7%;
}


/*home/annonces.html.twig*/

.container_imgsearchProducts {
    display: block;
}

.container-btn_create_annonce {
    display: flex;
    justify-content: start;
    margin: 50px;
}

.btn-create_annonce {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #48945D;
    background-color: #FFF56E;
    border-radius: 40px;
    box-shadow: 0 2px 2px #000;

}

/*annonce/annonce.html.twig*/


.container-return {
    margin-top: 8em;
    margin-left: 2em;
}

.return {
    padding: 5px 25px;
    background-color: #c6ffd0;
    transition: background-color 0.2s;
    color: #48945d;
    box-shadow: 0 15px 10px -15px #111;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid #48945d;
    cursor: pointer;
}

.return:hover {
    background-color: #48945d;
    transition: background-color 0.2s;
    color: white;
}

.container-annonce {
    display: grid;
    margin-top: 2em;
}

.container-annonce-img {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    margin: 5em;
    width: 92%;
}

.container-big-img {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    overflow: hidden;
    height: auto;
    width: 100%;
    align-items: center;
}

.display-left, .display-right {
    padding: 16px;
    cursor: pointer;
    color: #48945D;
    background-color: #C6FFD0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px 2px grey;
    user-select: none;
}

.display-left:hover, .display-right:hover {
    background-color: #FFF56E;
}

.image-slide {
    overflow: hidden;
}

#grand-image {
    width: 80%;
    border-radius: 20px;
}

.columnImage {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 3em;

}

.mini-image {
    width: 9em;
    border-radius: 15% 30%;
}

.bg-gray-global {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bg-gray-inactive {
    background: rgba(245, 245, 245, 0.6);
    border-radius: 20px;
    margin: 5px 5px 0 5px;
    padding: 10px 10px;
}

.delivery_mod {
    display: flex;
    flex-direction: column;
}

.green {
    background-color: #c6ffd0;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px;
    width: 30%;
}

.green p {
    padding: 7px 17px;
}

.bg-gray-inactive h2 {
    font-size: 28px;
    font-weight: 500;
}

.bg-gray-inactive h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

.headTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    margin-bottom: 20px;
}

.container-all_btn_sold_editor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container-btn_sold_editor {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.btn-sold_editor {
    background-color: #c6ffd0;
    transition: background-color 0.2s;
    border: 2px solid #48945d;
    color: #48945d;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-sold_editor:hover {
    background-color: #48945d;
    transition: background-color 0.2s;
    color: white;
}

#annonce-delete_btn {
    border: 2px solid #ff0000;
}

#annonce-delete_btn:hover {
    border: 2px solid #a40000;
    background-color: #a40000;
}

.divStar {
    margin-right: 1em;
    margin-top: 2px;
}

.favStar {
    width: 2em;
}

.priceTotal {
    font-weight: bolder;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
}

#annonce-confirm_delete {
    display: none;
    background-color: #c6ffd0;
    border: 2px solid #ff0000;
    border-radius: 10px;
}

#annonce-confirm_delete p {
    display: flex;
    justify-content: center;
    margin: 15px 0 20px;
}

.container-confirm_answer {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
}

.container-confirm_answer a {
    width: 100px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answer-delete_yes {
    background-color: red;
    transition: background-color 0.2s;
    cursor: pointer;
}

.answer-delete_yes:hover {
    background-color: #a40000;
    transition: background-color 0.2s;
}

.answer-delete_no {
    background-color: green;
    transition: background-color 0.2s;
    cursor: pointer;
}

.answer-delete_no:hover {
    background-color: #004b00;
    transition: background-color 0.2s;
}

.description {
    width: 100%;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 50% 20% 30%;
    grid-template-rows: auto;
    align-items: center;
}

.description p {
    margin: 10px 0;
}

.absolute {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
}

.titre-description {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-bottom: 2em;
    margin-top: 2em;
}

.descriptionTexte {
    color: black;
    text-align: justify;
    margin: 1em;
}


#gray {

}

.profileImage {
    width: 88px;
    height: 88px;
    border-radius: 9999px;
    margin-right: 20px;
    overflow: hidden;
}

.pdpAnnonce {
    width: 5em;
}

.textInfo {
    grid-column: 2 / span 2;
}


/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/


.lienEtiquette {
    color: #48945d;
}

.lienEtiquette:hover {
    color: #111;
    text-decoration: underline;
}

.mini-imag {
    width: 40%;
}

.image-item {
    cursor: pointer;
}

.bg-gray {
    background: #f5f5f5;
    /* width: 440px; */
    margin-left: 5px;
    display: flex;
    margin-top: 10px;
    overflow: hidden;
    border: 2px solid #48945d;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #48945d;
}

.bg-gray-active {
    background: #f5f5f5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 5px 5px 0 5px;
    padding: 10px 10px;
}

.bg-gray-active h1 {
    font-size: 36px;
    margin: 15px 0;
}

.bg-gray-active h2 {
    font-size: 28px;
    font-weight: 500;
    font-family: "ABeeZee", sans-serif;
}

.bg-gray-active h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

h2 {
    margin: 0;
}

#list-annonce {
    grid-column: 1 /span 3;
    grid-row-start: 2;
    margin-top: 50px;
    justify-self: center;
}

.dropdown-button {
    border: none;
    background: none;
}

.dropdown-button img {
    width: 20px
}

/*annonces.html.twig*/

.navigation {
    grid-area: navigation;
    grid-row-start: 6;
}

.containerGlobaleProducts {
    display: grid;
    grid-area: mainProducts;
    grid-template-columns: 1fr;
    grid-template-areas:
                "imgsearchProducts"
                "contenuProducts";
}

/*Formulaire de recherche*/

.search-formulaire {
    background: white;
    height: 80%;
    border-radius: 30px;
    box-shadow: 5px 10px 30px 5px grey;
    text-align: center;
    grid-area: searchForm;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
                "titre-search"
                "bouton-search";
    align-items: center;
}

#q {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
}

#categories {
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #48945D;
    height: 40px;
    width: 80%;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
    margin-left: 5px;
}

#min, #max {
    width: 80%;
    padding: 10px;
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.bouton-searchProducts > div:nth-last-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.bouton-searchProducts > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

.searchPrix > div {
    margin: 10px auto;
}

.searchPrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;

    width: 80%;
    justify-content: space-around;
}

.searchProducts {
    width: 60%;
    height: fit-content;
    margin: 35px auto;
    border-radius: 30px;
    box-shadow: 1px 5px 5px grey;
    border: 1px solid grey;
    text-align: center;
    grid-area: searchProducts;
    display: grid;
    padding: 10px;
    grid-row-end: 3;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
    grid-template-areas:
                "titre-searchProducts"
                "bouton-searchProducts";
    align-items: center;
}

.search_title {
    grid-area: titre-search;
    margin: 5px;
}

.search_btn {
    grid-area: bouton-search;
}

.titre-searchProducts {
    grid-area: titre-searchProducts;
}

.bouton-searchProducts {
    grid-area: bouton-searchProducts;
}

.contenu {
    grid-area: contenu;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contenuProducts {
    grid-area: contenuProducts;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.form-search {
    background-color: #FFFBC6;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 90%;
    border: none;
    outline: none;
    text-align: center;
    height: 40px;
}

.btn-search {
    background-color: #C6FFD0;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 90%;
    cursor: pointer;
    height: 40px;
}

.btn-searchProducts {
    background-color: #48945D;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 60%;
    cursor: pointer;
    height: 40px;
}

/*Fin formulaire de recherche*/

.image-annonce {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

/*RESPONSIVE DESIGN*/
/*RESPONSIVE DESIGN*/
/*RESPONSIVE DESIGN*/
/*RESPONSIVE DESIGN*/
/* TELEPHONE L MAX 425 */
@media screen and (max-width: 425px) {
    html {
        width: 27em;
    }

    .container-return {
        margin-top: 4em;
        margin-left: 1em;
    }

    .return {
        padding: 2px 16px;
        background-color: #c6ffd0;
        transition: background-color 0.2s;
        color: #48945d;
        box-shadow: 0 15px 10px -15px #111;
        font-size: 14px;
        border-radius: 15px;
        border: 2px solid #48945d;
        cursor: pointer;
    }

    .container-annonce {
        margin-top: 0;
        display: flex;
    }

    .container-big-img {
        grid-column: 1 / span 3;
        width: max-content;
        margin: 0 auto;
    }

    #grand-image {
        width: 20em;
        margin-bottom: 7px;
    }

    .container-annonce-img {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        margin: 2em 2em;
    }

    .display-left, .display-right {
        display: none;
    }

    .columnImages {
        margin-right: 5em;
    }

    .mini-image {
        width: 5.5em;
        border-radius: 30px;
    }

    .columnImage {
        margin-left: 2em;
        width: 100%;
    }

    .headTitle h1 {
        font-size: 50px;
    }

    .titre-description h2 {
        font-size: 25px;
    }

    .titre-description > .green {
        width: 60%;
        height: 1.9em;
    }

    .delivery_mod > .green {
        width: 60%;
        height: 1.9em;
    }

    .bg-gray-global {
        grid-row-start: 3;
        margin: 0 auto;
    }

    .bg-gray-inactive {
        margin-bottom: 5px;
    }

    #gray {
        grid-column: 1 / span 3;
        margin: 0 auto;
        width: 92%;
    }

    .textInfo {
        grid-column: 1 / span 3;
        margin: 7px 8px 0 10px;
        font-size: 12px;
        text-align: justify;
    }
}

@media screen and (max-width: 768px) and (min-width: 430px) {


    .container-return {
        margin-top: 4em;
        margin-left: 1em;
    }

    .return {
        padding: 2px 16px;
        background-color: #c6ffd0;
        transition: background-color 0.2s;
        color: #48945d;
        box-shadow: 0 15px 10px -15px #111;
        font-size: 14px;
        border-radius: 15px;
        border: 2px solid #48945d;
        cursor: pointer;
    }

    .container-annonce {
        margin-top: 0;
        display: flex;
    }

    .container-big-img {
        grid-column: 1 / span 3;
        width: max-content;
        margin: 0 auto;
    }

    #grand-image {
        width: 20em;
        margin-bottom: 7px;
    }

    .container-annonce-img {
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        margin: 2em 2em;
    }

    .display-left, .display-right {
        display: none;
    }

    .columnImages {
        margin-right: 5em;
    }

    .mini-image {
        width: 5.5em;
        border-radius: 30px;
    }

    .columnImage {
        margin-left: 2em;
        width: 100%;
    }

    .headTitle h1 {
        font-size: 50px;
    }

    .titre-description h2 {
        font-size: 25px;
    }

    .titre-description > .green {
        width: 60%;
        height: 1.9em;
    }

    .delivery_mod > .green {
        width: 60%;
        height: 1.9em;
    }

    .bg-gray-global {
        grid-row-start: 3;
        margin: 0 auto;
    }

    .bg-gray-inactive {
        margin-bottom: 5px;
    }

    #gray {
        grid-column: 1 / span 3;
        margin: 0 auto;
        width: 96%;
    }

    .textInfo {
        grid-column: 1 / span 3;
        margin: 7px 8px 0 10px;
        font-size: 12px;
        text-align: justify;
    }

}
