.pagePaiement {
    height: 70vh;
    margin-top: 15vh;
}

.recapPaiement_CB {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.coordonneeBancaire {
    background: white;
    border-radius: 1.2em;
    width: 30em;
    border: 1px solid black;
}

.carteBancaire {
    display: flex;
    justify-content: space-around;
}

.cardNumber {
    width: 25em;
    margin-left: 2.3em;
    margin-top: 2em;
}

.cardNumber > input {
    width: 29.8em;
}

.complementCard {
    display: flex;
    margin-top: 1.5em;
    justify-content: space-around;
    margin-right: 16px;
}

.cardInterne {
    height: 11em;
}

.cbVisaMasterCard {
    width: 3em;
    margin-top: 10px;
}

.logoMangoPay {
    width: 6em;
    margin-bottom: 1em;
}

.divLogoMango {
    display: flex;
    justify-content: center;
}

.submitCard {
    margin: 1em 2em 0 2em;

}

.recapPaiement {
    width: 30em;
    border-radius: 1.5em;
    border: 2px solid #6bba7c;

}

.recapPaiement h2 {
    color: #4a975f;
    text-align: center;
}

.recapPaiement h3 {
    margin-top: 1em;
    margin-left: 0.5em;
    font-size: 1.8em;
}

.recapPaiement p {
    margin-left: 0.5em;
    font-size: 1.3em;
}

.prixTotal {
    display: flex;
    justify-content: space-around;

    margin-right: 1.5em;
}

/* #######################---- RESPONSIVE DESIGN -------##############################*/

@media screen and (max-width: 425px) {
    .recapPaiement_CB {
        display: flex;
        flex-direction: column;
    }

    .pagePaiement {
        height: 110vh;
    }

    .recapPaiement {
        width: 25.2em;
        margin: 0 0 14px 7px;
        box-shadow: none;

    }

    .coordonneeBancaire {
        width: 25.2em;
        margin: 0 0 14px 7px;
        box-shadow: none;
    }

    .cardNumber {
        margin: 1em 0 0 0;
    }

    .cardNumber > input {
        width: 26em;
        margin-left: 1em;
    }

    .complementCard {
        margin-left: 1px;
    }

    .cardInterne > form {
        margin-left: 1em;
    }

    .submitCard {
        margin: 1em 0 0 0;
    }

    .submitCard > input {
        width: 26em;
        margin-left: 1em;
    }
}


@media screen and (max-width: 768px) and (min-width: 500px) {
    .recapPaiement_CB {
        display: flex;
        flex-direction: column;
        margin-left: 9em;
    }

    .recapPaiement {
        width: 25.2em;
        margin: 0 0 14px 7px;
        box-shadow: none;

    }

    .coordonneeBancaire {
        width: 25.2em;
        margin: 0 0 14px 7px;
        box-shadow: none;
    }

    .pagePaiement {
        height: 110vh;
    }

    .cardInterne > form {
        margin-left: 1em;
    }

    .cardNumber {
        margin: 1em 0 0 0;
    }

    .cardNumber > input {
        width: 26em;
        margin-left: 1em;
    }

    .expCard .CVXcard {
        width: 8em;
    }

    .submitCard {
        margin: 1em 0 0 0;
    }

    .submitCard > input {
        width: 26em;
        margin-left: 1em;
    }
}