@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-area: header;
    background-color: #fff56e;
}

.backgroundSite {
    width: 100%;
}

.divBanniere {
    height: 0;
}

main {
    /*background-image: url("../media/img/banniere-search.png");*/
    /*background-position: inherit;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    grid-area: GlobalMain;
    width: 100%;
    align-items: center;
    margin: 0;
}

/* Navbar */

nav {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #fff56e;
    display: grid;
    align-content: center;
    font-size: 18px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
                "logo logo list-mains_pages list-mains_pages list-mains_pages list-mains_pages list-mains_pages list-users_pages list-users_pages";
}

.container-profil_img {
    display: none;
}

.logo {
    grid-area: logo;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
}

#logo_with_text {
    display: flex;
}

#text_only {
    display: none;
}

.logo img {
    width: 275px;
    height: auto;
}

#container-hamburger-menu {
    display: none;
    z-index: 1;
}

.list-mains_pages {
    grid-area: list-mains_pages;
    grid-column-start: 3;
    grid-column-end: 8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.list-mains_pages a {
    text-decoration: none;
    color: #4c9a62;
    padding: 0 10px;
    font-size: 18px;
}

.list-mains_pages a:hover {
    text-decoration: underline;
}

#container-dropdown-secondary_user_page {
    display: none;
    position: absolute;
    top: 12%;
    right: 9.7%;
}

.list-users_pages {
    grid-area: list-users_pages;
    grid-column-start: 8;
    grid-column-end: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.list-users_pages {
    padding: 0;
}

.nav-icons {
    width: 32px;
    color: #4c9a62;
}

/* Footer */

footer {
    display: grid;
    grid-area: footer;
    background-color: #f5f5f5;
    padding: 5px 15px;
    height: fit-content;
    grid-template-columns: 50% 50%;
    grid-template-areas:
                "container-footer_left  container-footer_right";
    z-index: 11;
    align-items: start;
    color: rgb(59, 59, 59);
}

.container-footer_left {
    display: flex;
    text-align: center;
    grid-area: container-footer_left;
}

.container-footer_left {
    display: flex;
    flex-direction: column;
}

.container-footer_left p {
    white-space: nowrap;
}

.container-social_network-icons {
    display: flex;
    flex-direction: row;
    margin: 1% auto 0;
    width: 100%;
    justify-content: center;
}

.container-social_network-icons a {
    margin: 0 30px;
}

.all_rights_reserved {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.logoFooter {
    margin-left: 6px;
    max-width: 160px;
}

.logoFooter img {
    width: 100%;
    height: auto;
}

.container-footer_right {
    display: flex;
    flex-direction: row;
    grid-area: container-footer_right;
    justify-content: space-around;
    height: 100%;
    margin-top: 25px;
}

.container-links {
    display: flex;
    flex-direction: column;

}

.navFooter {
    display: flex;
    width: 50%;
    justify-content: space-between;

}

.title-links {
    font-weight: 500;
}

.container-footer_right a {
    text-decoration: none;
    color: #4c9a62;
}

.container-footer_right a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px ) {
    nav {
        grid-template-rows: repeat(2, 0fr);
    }

    .logo {
        justify-content: center;
        grid-column-start: 3;
        grid-column-end: 8;
    }

    #logo_with_text {
        display: none;
    }

    #text_only {
        display: flex;
    }

    #container-dropdown-secondary_user_page {
        display: none;
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 70px;
    }

    .list-mains_pages {
        display: none;
        position: absolute;
        top: 10px;
        left: 5px;
        padding: 40px 0 0;
        flex-direction: column;
        height: auto;
        width: auto;
        border-radius: 10px;
        align-items: start;
        border: 1px solid #c4c4c4;
    }

    .list-users_pages {
        grid-column-end: 10;
    }

    .secondary_users_page {
        display: none;
    }

    #logo_with_text {
        display: none;
    }

    #text_only {
        display: flex;
    }

    #container-hamburger-menu {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container-hamburger-menu .nav-icons {
        cursor: pointer;
        width: 30px;
        height: 22px;
        color: #4c9a62;
    }

    .list-users_pages {
        grid-column-end: 10;
    }

    .secondary_users_page {
        display: none;
    }

    #container-dropdown-secondary_user_page {
        display: none;
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 130px;
    }

    .list-mains_pages {
        display: none;
        position: absolute;
        top: 10px;
        left: 56px;
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 40px 5px 5px;
        background-color: rgba(255, 255, 255, 0.84);
        border-radius: 10px;
        align-items: start;
        border: 1px solid #c4c4c4;
        box-shadow: 0 15px 10px -15px #111;
        transition: background-color 0.2s;
    }

    .list-mains_pages a {
        background-color: #4c9a62;
        color: white;
        padding: 2px 10px;
        border-radius: 50px;
        margin: 5px;
        width: 90px;
        font-size: 18px;
        transition: background-color 0.2s;
        cursor: pointer;
        box-shadow: 0 15px 10px -15px #111;
    }

    .list-mains_pages a:hover {
        background-color: rgba(72, 148, 93, 0.78);
        transition: background-color 0.2s;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-footer_right {
        width: 100%;
        margin: 3% 0;
    }
}

@media screen and (max-width: 425px ) {
    #container-hamburger-menu {
        grid-column-end: 2;
    }

    .list-users_pages {
        grid-column-start: 9;
    }

    #container-dropdown-secondary_user_page {
        left: 75px;
    }

    .list-mains_pages {
        left: 5px;
    }

    .list-mains_pages a {
        margin: 5px 1px;
    }

    .total-annonce {
        width: 8em;
        margin-left: 39px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navFooter {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .container-links {
        align-items: center;

    }

    .container-footer_right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }