@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-area: header;
    background-color: #fff56e;
}

.backgroundSite {
    width: 100%;
}

.divBanniere {
    height: 0em;
}

main {
    /*background-image: url("../media/img/banniere-search.png");*/
    /*background-position: inherit;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    grid-area: GlobalMain;
    width: 100%;
    align-items: center;
    margin: 0;
}

/* Navbar */

nav {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #fff56e;
    display: grid;
    align-content: center;
    font-size: 18px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
                "logo logo list-mains_pages list-mains_pages list-mains_pages list-mains_pages list-mains_pages list-users_pages list-users_pages";
}

.container-profil_img {
    display: none;
}

.logo {
    grid-area: logo;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
}

.logo img {
    width: 80%;
    height: auto;
}

#container-hamburger-menu {
    display: none;
}

.list-mains_pages {
    grid-area: list-mains_pages;
    grid-column-start: 3;
    grid-column-end: 8;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.list-mains_pages a {
    text-decoration: none;
    color: #4c9a62;
    padding: 0 10px;
    font-size: 18px;
}

.list-mains_pages a:hover {
    text-decoration: underline;
}

#container-dropdown-secondary_user_page {
    display: none;
    position: absolute;
    top: 12%;
    right: 9.7%;
}

.list-users_pages {
    grid-area: list-users_pages;
    grid-column-start: 8;
    grid-column-end: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.list-users_pages {
    padding: 0;
}

.nav-icons {
    width: 32px;
    color: #4c9a62;
}

/* Footer */

footer {
    display: grid;
    grid-area: footer;
    background-color: #f5f5f5;
    padding: 5px 15px;
    height: fit-content;
    grid-template-columns: 50% 50%;
    grid-template-areas:
                "container-footer_left  container-footer_right";
    z-index: 11;
    align-items: start;
    color: rgb(59, 59, 59);
}

.container-footer_left {
    display: flex;
    text-align: center;
    grid-area: container-footer_left;
}

.container-footer_left {
    display: flex;
    flex-direction: column;
}

.container-footer_left p {
    white-space: nowrap;
}

.container-social_network-icons {
    display: flex;
    flex-direction: row;
    margin: 1% auto 0;
    width: 100%;
    justify-content: center;
}

.container-social_network-icons a {
    margin: 0 30px;
}

.all_rights_reserved {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.logoFooter {
    margin-left: 6px;
    max-width: 160px;
}

.logoFooter img {
    width: 100%;
    height: auto;
}

.container-footer_right {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    grid-area: container-footer_right;
    justify-content: space-around;
}

.container-links {
    display: flex;
    flex-direction: column;
}

.title-links {
    font-weight: 500;
}

.container-footer_right a {
    text-decoration: none;
    color: #4c9a62;
}

.container-footer_right a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 930px) {
    nav {
        margin: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        background-color: #fff56e;
        display: grid;
        align-content: center;
        font-size: 18px;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(2, 0fr);
    }

    .logo {
        grid-column-start: 3;
        grid-column-end: 9;
    }

    .list-users_pages {
        grid-area: list-users_pages;
        grid-column-start: 8;
        grid-column-end: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    .secondary_users_page {
        display: none;
    }

    .list-mains_pages {
        display: none;
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 2;
        align-self: start;
        flex-direction: column;
        height: 100%;
    }

    .list-mains_pages a {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50px;
        padding: 10px 50px;
        margin: 1%;
        font-size: 18px;
    }

    #container-hamburger-menu {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container-hamburger-menu .nav-icons {
        cursor: pointer;
        width: 30px;
        height: 22px;
        color: #4c9a62;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-footer_right {
        width: 100%;
        margin: 3% 0;
    }
}

@media only screen and (max-width: 850px) {
    #container-dropdown-secondary_user_page {
        right: 9.5%;
    }
}

@media only screen and (max-width: 745px) {
    #container-dropdown-secondary_user_page {
        top: 11%;
        right: 9.3%;
    }
}

@media only screen and (max-width: 620px) {
    #container-dropdown-secondary_user_page {
        right: 9.1%;
    }
}

@media only screen and (max-width: 600px) {
    #container-hamburger-menu {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .logo {
        display: flex;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 9;
    }

    .logo img {
        width: 90%;
    }

    .list-users_pages {
        grid-column-start: 9;
        grid-column-end: 10;
    }

    #container-dropdown-secondary_user_page {
        top: 10%;
        right: 4%;
    }
}

@media only screen and (max-width: 525px) {
    .all_rights_reserved {
        flex-direction: column;
    }

    .container-footer_right {
        align-items: center;
        flex-direction: column;
    }

    .container-links {
        text-align: center;
        margin: 10px;
    }
}

@media only screen and (max-width: 500px) {
    #container-dropdown-secondary_user_page {
        top: 9%;
    }
}

@media only screen and (max-width: 390px) {
    #container-dropdown-secondary_user_page {
        top: 8%;
    }
}
