/*annonces.html.twig*/
.containerGlobaleProducts h1 {
    color: #48945D;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
}

.imageCardAnnonces {
    margin-left: 22px;
    border-radius: 0.5em;
}

.card {
    background-color: #C6FFD0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px grey;
    width: 200px;
    height: 320px;
    margin: 15px;
}

.card-content {
    margin-left: 3%;
    width: 95%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a {
    text-decoration: none;
}

.prix {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    overflow: hidden;
    border-radius: 15px;
    width: 60%;
    background-color: white;
    color: green;
    margin-left: 35px;
    text-align: center;
    margin-top: 8px;
}


.card-content .align-etoile {
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.not-livraison {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    background-color: white;
    border-radius: 5px;
    padding: 2px 5px;
    align-items: center;
    margin-bottom: 10px;
    width: 80%;
}


.date-expiration {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-decoration: none;
}

/* Fin rubrique "Nos dernières annonces" */

/* Début rubrique "Comment ça fonctionne ?" */


/*.content-fonctionnement {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    height: 430px;*/
/*    background: no-repeat center/100% url("/public/media/img/background-yellow-green.png");*/

/*}*/


.total-annonce {
    width: 70%;
    margin-top: 7%;
}

/*home/annonces.html.twig*/

.container_imgsearchProducts {
    display: block;
}

.container-btn_create_annonce {
    display: flex;
    justify-content: start;
    margin: 50px;
}

.btn-create_annonce {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #48945D;
    background-color: #FFF56E;
    border-radius: 40px;
    box-shadow: 0 2px 2px #000;

}

/*annonce/annonce.html.twig*/


.container-annonce {
    display: grid;
    margin-top: 2em;
    justify-content: center;
}

.container-annonce-img {
    display: grid;
    grid-template-columns: 42% 11% 47%;
    grid-auto-rows: auto;

}

.container-big-img {
    display: flex;
    overflow: hidden;
    height: auto;
    width: 100%;
    justify-content: center;

}

/*.display-left, .display-right {*/
/*    padding: 16px;*/
/*    cursor: pointer;*/
/*    color: #48945D;*/
/*    background-color: #C6FFD0;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    transition: 0.6s ease;*/
/*    border-radius: 10px;*/
/*    border: 2px solid #fff;*/
/*    box-shadow: 2px 2px 5px 2px grey;*/
/*    user-select: none;*/
/*}*/

.display-left:hover, .display-right:hover {
    background-color: #FFF56E;
}

.image-slide {
    overflow: hidden;
}

#grand-image {
    width: 80%;
    height: 100%;
    border-radius: 20px;
}


.bg-gray-global {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bg-gray-inactive {
    background: rgba(245, 245, 245, 86%);
    border-radius: 20px;
    margin: 5px 5px 0 5px;
    padding: 10px 10px;
    border: 2px solid #4a975f;
}

.delivery_mod {
    display: flex;
    flex-direction: column;
}

.green {
    background-color: #c6ffd0;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px;
    width: 30%;
}

.green p {
    padding: 7px 17px;
}

.bg-gray-inactive h2 {
    font-size: 28px;
    font-weight: 500;
}

.bg-gray-inactive h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

.priceTotal {
    font-weight: bolder;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
}


.absolute {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
}

/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/
/*zone de distinction*/

.lienEtiquette {
    color: #48945d;
}

.lienEtiquette:hover {
    color: #111;
    text-decoration: underline;
}

.mini-imag {
    width: 40%;
}

.image-item {
    cursor: pointer;
}

.bg-gray {
    background: #f5f5f5;
    /* width: 440px; */
    margin-left: 5px;
    display: flex;
    margin-top: 10px;
    overflow: hidden;
    border: 2px solid #48945d;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #48945d;
}

.bg-gray-active {
    background: #f5f5f5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 5px 5px 0 5px;
    padding: 10px 10px;
}

.bg-gray-active h1 {
    font-size: 36px;
    margin: 15px 0;
}

.bg-gray-active h2 {
    font-size: 28px;
    font-weight: 500;
    font-family: "ABeeZee", sans-serif;
}

.bg-gray-active h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

h2 {
    margin: 0;
}

#list-annonce {
    grid-column: 1 /span 3;
    grid-row-start: 2;
    margin-top: 50px;
    justify-self: center;
}

.dropdown-button {
    border: none;
    background: none;
}

.dropdown-button img {
    width: 20px
}

/*annonces.html.twig*/

.navigation {
    grid-area: navigation;
    grid-row-start: 6;
}

.containerGlobaleProducts {
    display: grid;
    grid-area: mainProducts;
    grid-template-columns: 1fr;
    grid-template-areas:
                "imgsearchProducts"
                "contenuProducts";
}

/*Formulaire de recherche*/

.search-formulaire {
    background: white;
    height: 80%;
    border-radius: 30px;
    box-shadow: 5px 10px 30px 5px grey;
    text-align: center;
    grid-area: searchForm;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
                "titre-search"
                "bouton-search";
    align-items: center;
}

#q {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
}

#categories {
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #48945D;
    height: 40px;
    width: 80%;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
    margin-left: 5px;
}

#min, #max {
    width: 80%;
    padding: 10px;
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.bouton-searchProducts > div:nth-last-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.bouton-searchProducts > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    flex-direction: column;
}

.searchPrix > div {
    margin: 10px auto;
}

.searchPrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;

    width: 80%;
    justify-content: space-around;
}

.searchProducts {
    width: 60%;
    height: fit-content;
    margin: 35px auto;
    border-radius: 30px;
    box-shadow: 1px 5px 5px grey;
    border: 1px solid grey;
    text-align: center;
    grid-area: searchProducts;
    display: grid;
    padding: 10px;
    grid-row-end: 3;
    grid-column: 1 / span 2;
    grid-template-columns: 1fr;
    grid-template-areas:
                "titre-searchProducts"
                "bouton-searchProducts";
    align-items: center;
}

.search_title {
    grid-area: titre-search;
    margin: 5px;
}

.search_btn {
    grid-area: bouton-search;
}

.titre-searchProducts {
    grid-area: titre-searchProducts;
}

.bouton-searchProducts {
    grid-area: bouton-searchProducts;
}

.contenu {
    grid-area: contenu;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contenuProducts {
    grid-area: contenuProducts;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.form-search {
    background-color: #FFFBC6;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 90%;
    border: none;
    outline: none;
    text-align: center;
    height: 40px;
}

.btn-search {
    background-color: #C6FFD0;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 90%;
    cursor: pointer;
    height: 40px;
}

.btn-searchProducts {
    background-color: #48945D;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 60%;
    cursor: pointer;
    height: 40px;
}

/*Fin formulaire de recherche*/

.image-annonce {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
}


