.container-cgu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-title h1 {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 6vh;
    margin-top: 6vh;
    color: #79C990;
}

.container-all_terms_use {
    width: 80%;
}

.container-legals_informations {

    font-family: "Open Sans", sans-serif;
    font-size: max(1.2vw, 8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-legals_informations h2 {
    text-align: start;
    margin-bottom: 20px;
}

/* Début dropdown */
.cgu-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.container-title-text {
    margin-bottom: 30px;
    width: 100%;
}

.dropdown-title {
    height: 6vh;
    background: #fcf48d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 15px 15px 0 0;
}

.dropdown_text {
    border: 1px solid #bbd8c3;
    border-top: none;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 10px 15px 30px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown_text p {
    font-size: max(1.2vw, 8px);
}

/* Fin dropdown */

@media only screen and (max-width: 1024px) {

    .chevron-down {
        width: 20px;
    }

    .chevron-up {
        width: 20px;
    }
}