@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.contactAll{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 5%
}

.contactTitle{
    font-family: 'Quicksand', sans-serif;
    color: rgb(73,148,93);
    margin-left: 10%;
    margin-right: 16%;
    align-self: center;
}

.formContact{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}

.mailContact{
    margin-bottom: 16%;
}

.nom, .email{
    margin-bottom: 1%;
    width: 100%;
    align-self: center;
}

.formNom, .formEmail, .formMessage{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #19191E;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 15px;
    padding-left: 0;
    color: #333;
    line-height: 1.9;
    display: block;
    width: 255%;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    resize: none;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.formNom:focus, .formEmail:focus, .formMessage:focus{
    outline: none;
}

.formEmail::placeholder, .formNom::placeholder, .formMessage::placeholder{
    color:#111;
    font-family: 'Quicksand', sans-serif;
}

.formEmail::-moz-placeholder, .formMessage::-moz-placeholder, .formNom::-moz-placeholder{
    color:#111;
    font-family: 'Quicksand', sans-serif;
}

.formMessage{
    margin-bottom: 10%;
}

.envoyer button{
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    width: 100%;
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 34px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.envoyer button:hover {
    background-color: rgb(255,245,110);
    transition: background-color 0.2s;
}

@media only screen and (max-width:768px){
    .contactAll{
        display: flex;
        flex-direction: column;
    }

    .contactTitle{
        margin-left: 3%;
    }

    .plantetflower{
        margin-top: 4%;
        margin-left:25%;
    }

    .mailContact{
        margin-left:25%;
        margin-bottom: 3%;
    }

    .formNom, .formEmail, .formMessage{
        width: 50%;
        margin-left:25%;
    }

    .formMessage{
        margin-bottom: 1%;
    }

    .envoyer button{
        width: 50%;
    }
}