.formContact{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 7%;
}

.nom{
    margin-bottom: 1%;
    width: 20%;
    align-self: center;

}

.formNom{
    border: 1px solid #111;
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
    width: 95%;
}

.formNom::-moz-placeholder{
    color:#111;
}

.formNom::placeholder{
    color:#111;
}

.email{
    width: 20%;
    align-self: center;
}

.formEmail{
    border: 1px solid #111;
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
    width: 95%;
}

.formEmail::placeholder{
    color:#111;
}

.formEmail::-moz-placeholder{
    color:#111;
}

.envoyer button{
    background-color: #48945d;
    color: white;
    padding: 10px 50px;
    transition: background-color 0.2s;
    box-shadow: 0 15px 10px -15px #111;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #48945d;
}

.envoyer a:hover {
    background-color: rgba(72, 148, 93, 0.78);
    transition: background-color 0.2s;
}

@media only screen and (max-width:768px){
    .nom{
        width: 20%;
    }
}