.container-createAnnonce {

}

.container-total_block {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: auto;
  display: flex;
  padding: 30px;
  font-size: 12px;
}

#title_sell_your_plant {
  font-family: "ABeeZee", sans-serif;
}

.left_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_img {
  display: flex;
  align-items: center;
  padding: 35px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='darkseagreen' stroke-width='4' stroke-dasharray='20%2c 30' stroke-dashoffset='47' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

#get-file {
  margin-left: 20px;
}

.input {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 15px;
}

.add_img_txt {
  color: #79c990;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

.container-img_annonce {
  flex-direction: row;
  display: flex;
}

.img_preview {
  display: none;
  border-radius: 15px;
  width: 100%;
  height: 120px;
}

.createAnnonce-checkbox {
  font-size: 16px;
  align-items: center;
}
.createAnnonce-checkbox div:first-child {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
  margin: 0 0 10px 20px;
}

.createAnnonce-item {
  text-align: center;
}

.createAnnonce-item {
  margin: 10px;
}

.right_block {
  margin-left: 20px;
}

.price {
  margin-left: 120px;
  font-size: 20px
}

#container-delivery {
  display: flex;
  flex-direction: column;
  border: 1px solid #48945d;
  border-radius: 20px;
}

.delivery_mode {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.container-mondial_relay_widget {
  width: 90%;
  display: none;
  margin: 5px auto;
}

.img_mondial_relay {
  width: 25px;
  height: 25px;
  margin: 5px 0px 0px 20px;
}

.container-shipping_address {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .container-createAnnonce {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

@media only screen and (max-width: 768px) {

  .container-createAnnonce {
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  .add_img {
    width: 90%;
    padding: 0;
    background-image: none;
  }

  .container-shipping_address {
    flex-direction: column;
    align-items: center;
  }
}

/*Non reconnu*/
/*Non reconnu*/
/*Non reconnu*/
/*Non reconnu*/

.container-shipping_address, .createAnnonce-checkbox div:first-child {
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}



.picture img {
  width: 350px;
  margin: 50px 0 0 60px;
}


.title {
  grid-column: span 2;
  display: flex;
  align-items: center;
  padding-left: 50px;
}





.checkboxAnnonce {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

button {
  display: flex;
  margin: 50px auto 0;
  padding: 10px 50px;
  background-color: #48945d;
  box-shadow: 0px 15px 10px -15px #111;
  font-size: 18px;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #48945d;
  border: 2px solid #48945d;
}
@media screen and (max-width: 1024px) {


  .title {
    justify-content: center;
    padding: 0;
  }

  aside {
    display: none;
  }
}
}
