.title-edit {
    color: #4C9A62;
    text-align: center;
    padding-top: 20px;
}

.contain-edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-edit {
    background-color: #ffffff91;;
    margin: 50px auto 100px auto;
    width: 85%;
    border-radius: 17px;
    box-shadow: 1px 1px 12px #555
}

.box-2-edit {
    display: grid;
    justify-items: center;
    padding: 15px;
}


/*.image-profil-edit {*/
/*    margin: 25px auto 0 auto;*/
/*    width: 120px;*/
/*    height: 120px;*/
/*    overflow: hidden;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border-radius: 99999px;*/
/*    background-color: #555;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    justify-self: center;*/
/*    display: flex;*/
/*    grid-area: image;*/
/*    grid-row-start: 1;*/
/*    align-self: flex-end;*/
/*    grid-column-start: 1;*/
/*}*/

/*.input-file-profil {*/
/*    grid-area: plus;*/
/*    grid-row-start: 1;*/
/*    grid-column-start: 1;*/
/*    margin-left: 25%;*/
/*    align-self: flex-end;*/
/*}*/

/*.input-file-profil input[type=file] {*/
/*    display: none;*/
/*}*/

/*.btn-upload-profil {*/
/*    background-color: #C6FFD0;*/
/*    border: none;*/
/*    color: #4A975F;*/
/*    padding: 8px 12px 8px 12px;*/
/*    border-radius: 50px;*/
/*    font-size: 12px;*/
/*}*/

.box-infos {
    padding-top: 10px;
    grid-row-start: 2;
}

.box-column {
    display: flex;
    flex-direction: column;
}

.input-column div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-modification {
    grid-column: 1 / span 2;
    width: 100%;
}

.input-modif {
    background-color: #C6FFD0;
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    height: 40px;
    width: 60%;
    outline: none;
    text-indent: 10px;
}

.btn-edit {
    display: flex;
    justify-content: center;
}

.btn-green {
    background-color: #48945D;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin: 12px 0 13px 6px;
    cursor: pointer;
    width: 100px;
}

.btn-red {
    background-color: #C84427;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 6px 2px;
    font-size: 17px;
    margin: 12px 0 15px 2%;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .input-modification {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-column {
        display: flex;
        flex-direction: column;
        width: 21em;
    }

    .input-modif {
        background-color: #C6FFD0;
        border: none;
        border-radius: 10px;
        margin-top: 5px;
        height: 40px;
        width: 49%;
        outline: none;
        text-indent: 3px;
    }
}