.container-register {
    margin: 0;
    width: 100%;
    position: relative;
}

.container-register h2 {
    font-size: 30px;
    color: #4C9A62;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.container-form_register {
    margin: 80px auto;
    border: 1px solid #c4c4c4;
    border-radius: 30px;
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    width: 90%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
}

#title_get_to_know {
    text-align: center;
    margin: 10px auto;
}

.container-register a {
    color: #4c9a62;
}

.container-register p {
    font-size: 12px;
    margin-bottom: 1%;
}

.img_social_network {
    margin-left: 10px;
    margin-bottom: 10px;
}

.google {
    width: 16px;
    margin-bottom: -1px;
}

.facebook {
    width: 21px;
}

.container-name-firstname {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 10px auto;
}

.name {
    margin-right: 5px;
    color: black;
    font-size: 25px;
    padding-left: 15px
}

.name, .firstname {
    width: 100%;
    margin-bottom: 1%;
}

input::-moz-placeholder {
    color: #000;
}

input::placeholder {
    color: #000;
}

input {
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
    height: 40px;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
    width: 95%;
}

.information-text p {
    font-size: 12px;
    color: #848484;
}

.birthday {
    margin-bottom: 1%;
}

#registration_form_birthday {
    display: flex;
    justify-content: space-evenly;
    font-family: "ABeeZee", sans-serif;;
}

.address, .address2, .zipcode, .city, .email, .password{
    margin-bottom: 1%;
}

#registration_form_countryOfResidence{
    width: 100px;
}

#registration_form_nationality{
    width: 100px;
}

.nationality label{
    margin-right: 7.5%;
}

.userCategory label{
    display: flex;
}

.userCategory input{
    margin-bottom: 3%;
    width: 25px;
}

#registration_form_recaptcha {
    text-align: -webkit-center;
}

.agree_terms {
    margin: 10px auto 30px 0;
}

.agree_terms a {
    color: #79c990;
    margin-left: 4px;
}

.agree_terms div {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#registration_form_agreeTerms {
    width: 15px;
    margin: 0 10px;
}

.btn_registration {
    border: none;
    background: #79C990;
    width: 200px;
    height: 30px;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .nameFirstname, .statusEmail {
        flex-direction: column;
    }

    .status, .email {
        width: 100%;
    }

    #labelStatus {
        margin-right: 0;
    }

    .status {
        margin: 0 10px 5px auto;
    }

    .agreeTerms div {
        display: contents;
    }
}

@media only screen and (max-width: 425px) {
    .nationality label{
        margin-right: 11.5%;
    }
}