body {
    background-image: url("../media/img/background-yellow-green.png");
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container-register {
    margin: 80px auto;
    border: 1px solid #c4c4c4;
    border-radius: 30px;
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    width: 90%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
}

.google {
    width: 16px;
    margin-bottom: -1px;
}
.facebook {
    width: 21px;
}

.img_social_network {
    margin-left: 10px;
    margin-bottom: 10px;
}

.container-register h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #4C9A62;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#title_get_to_know {
    text-align: center;
    margin: 10px auto;
}

.container-register a {
    color: #4c9a62;
}

.container-register p {
    font-size: 12px;
    margin-bottom: 10px;
}

input::-moz-placeholder {
    color: #000;
}

input::placeholder {
    color: #000;
}

form div ul li {
    color: red;
}

input {
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
    height: 40px;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
    width: 100%;
}

.container-name-firstname {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 10px auto;
}

.name, .firstname {
    width: 100%;
    margin-bottom: 5px;
}

.name {
    margin-right: 5px;
}

.information p {
    font-size: 9px;
    color: #848484;
}

.container-address_block_1 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto 5px auto;
}

.street, .zipcode {
    margin: 0 10px 0 0
}

.address, .city {
    width: 100%;
}

.container-address-complement {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto 0 auto;
}

.address-complement {
    width: 100%;
}

.container-address_block_2 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 5px auto 20px auto;
}

.container-status-email {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto 5px auto;
}



#labelStatus {
    display: flex;
    justify-content: center;
    margin-right: 65%;
}

#labelStatus p {
    color: black;
    font-size: 15px;
}

.status {
    width: 40%;
    margin: 0 10px 0 auto;
}

.status select {
    background: #c6ffd0;
    border-radius: 20px;
    text-align: center;
    border: none;
    height: 40px;
    width: 100%;
    font-family: "ABeeZee", sans-serif;
    font-size: 13px;
}

.email {
    width: 100%;
}

.container-password {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto 0 auto;
}

.password {
    width: 100%;
    margin: 0 auto 20px auto;
}

#registration_form_recaptcha {
    text-align: -webkit-center;
}

.agree_terms {
    margin: 10px auto 30px 0;
}

.agree_terms a {
    color: #79c990;
    margin-left: 5px;
}

.agree_terms div {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items :flex-end;
}

#registration_form_agreeTerms {
    width: 15px;
    margin: 0 10px;
}

/*#lienMango {*/
/*    text-decoration: none;*/
/*    color: #000;*/
/*}*/

/*.lienMango:hover {*/
/*    text-decoration: underline;*/
/*}*/

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.btn_registration {
    border: none;
    background: #79C990;
    width: 200px;
    height: 30px;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    .nameFirstname, .statusEmail {
        flex-direction: column;
    }
    .status, .email {
        width: 100%;
    }
    #labelStatus {
        margin-right: 0;
    }
    .status {
        margin: 0 10px 5px auto;
    }

    .agreeTerms div {
        display: contents;
    }
}
