.container-return {
    margin-left: 2em;
    display: flex;

}

.return {
    padding: 10px 10px;
    background-color: #c6ffd0;
    transition: background-color 0.2s;
    color: #48945d;
    box-shadow: 0 15px 10px -15px #111;
    border-radius: 15px;
    border: 2px solid #48945d;
    cursor: pointer;
}

.chevronBack {
    width: 25px;
}

.return:hover {
    background-color: #48945d;
    transition: background-color 0.2s;
    color: white;
}

.fullAnnonce {
    display: flex;
    margin: 0 15em 5em 15em;
}

.corpsAnnonce {
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
}

.imagePrincipale {
    width: 35%;
}

#imagePrincipale_self {
    width: 100%;
    border-radius: 20px;
}

.columnImage {
    display: flex;
    flex-direction: column;
    width: 8%;
    align-content: center;
    align-items: flex-end;
    justify-content: space-between;
}

.mini-image {
    width: 7em;
    border-radius: 15% 30%;
    margin-bottom: 2em;
}


.ficheAnnonce {
    padding: 10px 10px;
    width: 35%;
}

.dateExpAnnonce {
    font-size: 15px;
}

.annonceCategory {
    border-bottom: 2px solid #48945D;
    width: 36em;
    margin-top: 0.5em;
    display: flex;
}

#annonceCategory {
    margin-bottom: 0.5em;
}

.annonceDescription {
    color: black;
    text-align: justify;
    margin: 1em 5em 0 0;
}

.bonASavoir {
    margin-bottom: 2em;
    margin-top: 1em;
}

.headInfo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.headInfo_icone {
    width: 2em;
    margin-bottom: 1em;
    margin-right: 1.5em;
}

.deliveryMode {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.deliveryChoiceLabel {
    border: 2px solid;
    border-radius: 0.5em;
    margin-bottom: 7px;
    width: 37em;
}

.deliveryLabel2 > label {
    margin-right: 1em;
    margin-left: 2em;
}

.deliveryInput1 {
    display: flex;
    margin-left: 18px;
}

.deliveryInput2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 66px;
}

.deliveryPrice1 {
    display: flex;
    align-items: center;
    font-size: 2em;
    margin-left: 2.8em;
}


.deliveryPrice2 {
    display: flex;
    align-items: center;
    font-size: 2em;

}

.deliveryLabel1 {
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 8em;
}

.deliveryLabel2 {
    display: flex;
    align-items: center;
    width: 40%;
    margin-right: 11.3em;
}

.deliveryLabel label {
    width: 53%;
}

.checkboxDelivery {
    width: 15%;
}

.deliveryIcone {
    width: 45px;
    height: 38px;
    margin-top: 4px;
}


.labelMainPropre {
    width: 15%;
    height: 20px;
}

.mondialRelay {
    width: 15%;
    height: 20px;
}


#mode_remise_form_payer {
    border-radius: 0.5em;
    background: #C6FFD0;
    border: 2px solid;
    font-size: 17px;
    width: 35em;
    height: 3em;
    cursor: pointer;
}

.potPlant {
    margin-left: 2em;
    font-weight: bold;

}

#priceShipment {
    width: 37.6em;
}

.container-all_btn_sold_editor {
    display: flex;
    margin-bottom: 20px;
    width: 34em;
}

.container-btn_sold_editor {
    margin: 10px 0;
}

.btn-sold_editor {
    background-color: #c6ffd0;
    transition: background-color 0.2s;
    border: 2px solid #48945d;
    color: #48945d;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-sold_editor:hover {
    background-color: #48945d;
    transition: background-color 0.2s;
    color: white;
}

#annonce-delete_btn {
    border: 2px solid #ff0000;
}

#annonce-delete_btn:hover {
    border: 2px solid #a40000;
    background-color: #a40000;
}

#annonce-confirm_delete {
    display: none;
    background-color: #c6ffd0;
    border: 2px solid #ff0000;
    border-radius: 10px;
}

#annonce-confirm_delete p {
    display: flex;
    justify-content: center;
    margin: 15px 0 20px;
}

.container-confirm_answer {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
}

.container-confirm_answer a {
    width: 100px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answer-delete_yes {
    background-color: red;
    transition: background-color 0.2s;
    cursor: pointer;
}

.answer-delete_yes:hover {
    background-color: #a40000;
    transition: background-color 0.2s;
}

.answer-delete_no {
    background-color: green;
    transition: background-color 0.2s;
    cursor: pointer;
}

.answer-delete_no:hover {
    background-color: #004b00;
    transition: background-color 0.2s;
}

.description {
    display: flex;
}

.infoVendeur a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.suggestionAnnonce {
    margin-left: 16em;
    border-bottom: 2px solid #48945D;
    width: 25%;
    font-size: 20px;
}

/*RESPONSIVE DESIGN*//*RESPONSIVE DESIGN*//*RESPONSIVE DESIGN*//*RESPONSIVE DESIGN*//*RESPONSIVE DESIGN*//*RESPONSIVE DESIGN*//*RESPONSIVE DESIGN*/
/* TELEPHONE L MAX 425 */
@media screen and (max-width: 425px) {

    .container-return {
        margin-left: 1em;
    }

    .return {
        padding: 2px 16px;
        background-color: #c6ffd0;
        transition: background-color 0.2s;
        color: #48945d;
        box-shadow: 0 15px 10px -15px #111;
        font-size: 14px;
        border-radius: 15px;
        border: 2px solid #48945d;
        cursor: pointer;
    }

    .fullAnnonce {
        margin: 0;
        display: flex;

    }

    .corpsAnnonce {
        display: flex;
        justify-content: space-evenly;
        margin-top: 37px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .annonceCategory {
        border-bottom: 2px solid #48945D;
        width: 25em;
        margin-top: 0.5em;
        display: flex;
    }

    .deliveryChoiceLabel {
        border: 2px solid;
        border-radius: 0.5em;
        margin-bottom: 7px;
        width: 25em;
    }

    .deliveryInput1 {
        display: flex;
        margin-left: 7px;
    }

    .deliveryPrice1 {
        display: flex;
        align-items: center;
        font-size: 2em;
        margin-left: 0;
    }

    .deliveryLabel2 {
        display: flex;
        align-items: center;
        width: 40%;
        margin-right: 8.3em;
    }

    .deliveryLabel > label {
        width: 78%;
        margin-left: 2em;
    }

    .deliveryLabel2 > label {
        margin-right: 1em;
    }

    #mode_remise_form_payer {
        border-radius: 0.5em;
        background: #C6FFD0;
        border: 2px solid;
        font-size: 17px;
        width: 23.8em;
        height: 3em;
        cursor: pointer;
    }

    #priceShipment {
        width: 24.8em;
    }

    .annonceDescription {
        color: black;
        text-align: justify;
        margin: 0.5em 0 0 0;
    }


    .imagePrincipale {
        width: max-content;
        margin-left: 2em;
    }

    #imagePrincipale_self {
        width: 20em;
        margin-bottom: 7px;
    }

    .mini-image {
        width: 5.5em;
        border-radius: 30px;
    }

    .columnImage {
        display: flex;
        justify-content: space-evenly;
        margin-top: 37px;
        flex-direction: row;
        margin-left: 1em;
        width: 90%;
    }


    .ficheAnnonce {
        width: 90%;
    }

}

@media screen and (max-width: 768px) and (min-width: 500px) {
    /*annonces.twig.html*/
    .contenuProducts {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        margin: 0 0 10px 12px;
    }

    .container-return {
        margin-top: 0.5em;
        margin-left: 1em;
    }

    .total-annonce {
        margin-left: 26px;
    }

    .return {
        padding: 2px 16px;
        background-color: #c6ffd0;
        transition: background-color 0.2s;
        color: #48945d;
        box-shadow: 0 15px 10px -15px #111;
        font-size: 14px;
        border-radius: 15px;
        border: 2px solid #48945d;
        cursor: pointer;
    }

    .fullAnnonce {
        display: flex;
        margin: 0 2em 5em 9.5em;
    }

    .corpsAnnonce {
        display: flex;
        flex-direction: column;

    }

    .imagePrincipale {
        width: max-content;
    }

    #imagePrincipale_self {
        width: 30em;
    }

    .mini-image {
        width: 5.5em;
        border-radius: 30px;
    }

    .columnImage {
        display: flex;
        justify-content: space-evenly;
        margin-top: 37px;
        flex-direction: row;
        width: 100%;
    }

    .ficheAnnonce {
        width: 30em;
    }

    .annonceCategory {
        border-bottom: 2px solid #48945D;
        width: 30em;
        margin-top: 0.5em;
        display: flex;
    }

    .deliveryChoiceLabel {
        border: 2px solid;
        border-radius: 0.5em;
        margin-bottom: 7px;
        width: 30em;
    }

    .deliveryInput1 {
        display: flex;
        margin-left: 16px;
    }

    .deliveryPrice1 {
        display: flex;
        align-items: center;
        font-size: 2em;
        margin-left: 0;
    }

    .deliveryLabel2 {
        display: flex;
        align-items: center;
        width: 40%;
        margin-right: 8.3em;
    }

    .deliveryLabel2 > label {
        margin-right: 3em;
    }


    #mode_remise_form_payer {
        border-radius: 0.5em;
        background: #C6FFD0;
        border: 2px solid;
        font-size: 17px;
        width: 28.6em;
        height: 3em;
        cursor: pointer;
    }

    #priceShipment {
        width: 30em;
    }

    .annonceDescription {
        color: black;
        text-align: justify;
        margin: 0.5em 0 0 0;
    }


}