.container_profil {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px auto 5px auto;
    margin: 0 10%;
}

.container-uP-title {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 30px;
}

.container-uP-btn-create_annonce {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container-uP-btn-create_annonce a {
    background-color: #48945d;
    color: white;
    padding: 10px 50px;
    transition: background-color 0.2s;
    box-shadow: 0 15px 10px -15px #111;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #48945d;
}

.container-uP-btn-create_annonce a:hover {
    background-color: rgba(72, 148, 93, 0.78);
    transition: background-color 0.2s;
}

.uP-message {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(254, 251, 198, 0.85);
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    text-align: center;
    width: 60%;
}

p.message_text {
    color: #4A975F;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.message_text {
    color: #4A975F;
    text-align: left;
    padding: 10px;
    font-size: 12px;
}

.lien-mango {
    text-decoration: underline;
    color: #4A975F;
}

.container_iban {
    display: flex;
    justify-content: center;
}

.input_iban {
    width: 80%;
}

.iban {
    background-color: #F5F5F5;
    border: 2px solid #4A975F;
    border-radius: 20px;
    outline: none;
    text-indent: 10px;
}

.container_profil label {
    color: black;
    text-align: left;
    padding: 10px 30px;
    font-size: 17px;
}

.input_file {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.input_file input[type=file] {
    opacity: 0;
    width: 40px;
    display: none;
}

.identity_text {
    font-size: 12px;
    color: #4A975F;
    margin: 5px 0;
}

.container_KYC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-upload {
    padding: 15px;
    border-radius: 18px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='darkseagreen' stroke-width='4' stroke-dasharray='20%2c 30' stroke-dashoffset='47' stroke-linecap='square'/%3e%3c/svg%3e");
    width: 90%;
    margin: 10px 0 10px;
    text-align: center;
}

.identityUpload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn-upload, #information_form_send {
    background-color: #F5F5F5;
    border: 2px solid #4A975F;
    color: #4A975F;
    padding: 5px 27px;
    border-radius: 25px;
    font-size: 16px;
}

#information_form_send {
    white-space: nowrap;
    margin: 10px 0;
    width: 60%;
}

.container-all_uP_categories {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 40px 0 50px;
    overflow: hidden;
    border: 2px solid #D1D1D1;
    border-radius: 20px;
}

.nav_user_profil {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 20px 0;
    background-color: #fefbc6;
    border-radius: 17px 17px 0 0;
}

.nav_user_profil p {
    text-decoration: none;
    color: #4c9a62;
    font-size: 20px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav_user_profil p:hover {
    text-decoration: underline;
}

.nav_user_profil-btn {
    margin: 0 35px 0 35px;
    cursor: pointer;
    font-size: 22px;
    color: black;
}

.display {
    min-height: 400px;
    background-image: url("../media/img/background-yellow-green.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.main_informations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 2px #48945D;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.container-image_profil {
    overflow: hidden;
    border-radius: 40px;
}

.image_profil {
    max-width: 120px;
    border-radius: 40px;
    overflow: hidden;
}

.container-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: #C6FFD0;
    border: 1px solid #D1D1D1;
    width: 300px;
    margin: 10px auto;
    border-radius: 20px;
    white-space: nowrap;
}

.secondary_informations {
    color: #48945D;
    font-weight: bold;
}

.container-address, .container-mail, .container-phone {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #D1D1D1;
    box-shadow: 0 2px 2px #48945D;
    margin: 20px auto 10px;
    border-radius: 20px
}

.container-phone_mail {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.container-mail, .container-phone {
    width: 40%;
}

.not_annonces {
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
}

.not_annonces p {
    margin-bottom: 50px;
    color: #4a975f;
    font-size: 20px;
}

.up-container-all_annonces {
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.up-container-all_annonces a {
    color: black;
}

.uP-container-annonce {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #D1D1D1;
    margin: 5px;
    box-shadow: 2px 2px 2px #48945D;
}

.container-not_sold_annonces {
    background-color: #fefbc6;
}

.container-sold_not_confirm_annonces {
    background-color: #FFF56E;
}

.container-sold_confirm_annonces {
    background-color: #C6FFD0;
}

.container-title_sales_status {
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    border-radius: 15px
}

.sales_status {
    color: #48945D;
    font-weight: bold;
}

.container-price_date_shipment {
    display: flex;
    justify-content: space-between;
}

.container-price_date {
    border: 1px solid #D1D1D1;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0 0;
    width: 100%;
}

.container-uP-shipment {
    justify-content: center;
    border: 1px solid #D1D1D1;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0 0 10px;
    width: 80%;
}

.uP-shipment {
    color: #48945D;
    font-weight: bold;
    white-space: nowrap;
}

/* page editInformations */

.title-edit {
    color: #4C9A62;
    text-align: center;
    padding-top: 20px;
}

.contain-edit {
    display: flex;
    justify-content: center;
    /* background-color: #AECFD6;
    border: 2px solid blueviolet; */
}

.box-edit {
    background-color: white;
    margin: 50px auto 100px auto;
    width: 85%;
    border-radius: 17px;
    box-shadow: 1px 1px 12px #555
}

.box-2-edit {
    display: grid;
    justify-items: center;
    padding: 15px;
}



.image-profil-edit {
    margin: 25px auto 0 auto;
    width: 120px;
    height: 120px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    background-color: #555;
    color: #fff;
    text-align: center;
    justify-self: center;
    display: flex;
    grid-area: image;
    grid-row-start: 1;
    align-self: flex-end;
    grid-column-start: 1;
}

.input-file-profil {
    grid-area: plus;
    grid-row-start: 1;
    grid-column-start: 1;
    margin-left: 25%;
    align-self: flex-end;
}

.input-file-profil input[type=file] {
    display: none;
}

.btn-upload-profil {
    background-color: #C6FFD0;
    border: none;
    color: #4A975F;
    padding: 8px 12px 8px 12px;
    border-radius: 50px;
    font-size: 12px;
}

.box-infos {
    padding-top: 10px;
    grid-row-start: 2;
}

.box-column {
    display: flex;
    flex-direction: column;
}

.input-column div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-modification {
    grid-column: 1 / span 2;
    width: 100%;
}

.input-modif {
    background-color: #C6FFD0;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 60%;
    outline: none;
    text-indent: 10px;
}

.btn-edit {
    display: flex;
    justify-content: center;
}

.btn-green {
    background-color: #48945D;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 6px 25px;
    font-size: 18px;
    margin: 20px 0 25px 0;
    cursor: pointer;
    width: 20%;
}

.btn-red {
    background-color: #C84427;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 6px 25px;
    font-size: 18px;
    margin: 20px 0 25px 15%;
    cursor: pointer;
    width: 20%;
}


@media only screen and (max-width: 1190px) {
    .uP-message {
        grid-row-start: 2;
        background-color: rgba(254, 251, 198, 0.85);
        border: 1px solid #c4c4c4;
        border-radius: 20px;
        text-align: center;
        width: 100%;
    }

    .main_informations {
        width: 72%;
    }

    .up-container-all_annonces {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .container_profil {
        grid-template-rows: 100px 100px auto 5px auto;
    }

    .container-uP-btn-create_annonce {
        grid-row-start: 2;
        grid-column-start: 1;
        justify-content: center;
        margin-bottom: 25px;
    }

    .uP-message {
        grid-row-start: 3;
    }

    .container-all_uP_categories {
        grid-row-start: 5;
    }
}

@media only screen and (max-width: 930px) {
    .container-uP-title {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 840px) {
    .main_informations {
        display: flex;
        width: 90%;
        margin: 0 auto 10px;
    }

    .container-address, .container-mail, .container-phone {
        width: 90%;
        margin: 0 auto 10px;
    }

    .container-phone_mail {
        margin: 0 3% 10px;
        flex-direction: column;
        width: 90%;
    }

    .container-mail, .container-phone {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .display {
        min-height: 435px;
    }

    .up-container-all_annonces {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 690px) {
    .container_profil {
        margin: 0 4%;
    }
}

@media only screen and (max-width: 624px) {
    .container_profil {
        margin: 0 2%;
    }
}

@media only screen and (max-width: 575px) {
    .container-uP-title h2 {
        font-size: 1.5em;
    }

    .container-uP-btn-create_annonce a {
        padding: 10px 20px;
    }

    p.message_text {
        font-size: 15px;
    }

    .nav_user_profil {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav_user_profil p {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 560px) {
    .main_informations {
        flex-direction: column;
    }
}

@media only screen and (max-width: 520px) {
    .input_iban {
        width: 90%;
    }

    .img-upload {
        width: 80%;
    }

    #information_form_send {
        padding: 5px 10px;
        width: 250px;
    }


    .container-phone_mail {
        margin: 0 2.5% 10px;
        flex-direction: column;
        width: 90%;
    }
}

@media only screen and (max-width: 410px) {
    .container-uP-title h2 {
        font-size: 1.3em;
    }

    .uP-shipment {
        white-space: unset;
    }
}

@media only screen and (max-width: 390px) {
    .container-name_first_name_role {
        width: 100%;
    }

    .container-information {
        width: 90%;
    }

    .container-phone_mail {
        margin: 0 2% 10px;
        flex-direction: column;
        width: 90%;
    }
}

@media only screen and (max-width: 350px) {
    .container-uP-title h2 {
        text-align: center;
        font-size: 1.1em;
    }

    .container-phone_mail {
        margin: 0 1.3% 10px;
        flex-direction: column;
        width: 90%;
    }

    .up-container-all_annonces {
        padding: 2%;
    }

    .uP-container-annonce {
        padding: 5%;
        margin: 0;
    }
}












