<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Site e-commerce qui offre une mise en relation entre particuliers dans l'idée de se vendre des végétaux de manière sécurisée et avec possibilité d'expédier les végétaux.">
    <meta name="google-site-verification" content="3-fSTZEFlXr_LOXecCuy7E3uYeWZ3noo0j5vUug4Ho0"/>
    <title>
        {% block title %}Plant et flower{% endblock %}
    </title>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
